.star-wrapper {
  height: 100%;
  width: 100%;
  background-color: #003656;
  background: -webkit-gradient(linear, left top, left bottom, from(#001a29), to(#003656));
  background: linear-gradient(to bottom, #001a29, #003656);
}

.star-wrapper .title {
  color: #fff;
}

.star-wrapper .subtitle {
  color: #fff;
}

.starback {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#star-1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1813px 1673px #fff,
    1453px 289px #fff,
    96px 1283px #fff,
    387px 1539px #fff,
    1162px 972px #fff,
    390px 1530px #fff,
    845px 56px #fff,
    743px 371px #fff,
    2560px 1352px #fff,
    1373px 1699px #fff,
    1395px 76px #fff,
    1275px 1586px #fff,
    1313px 1283px #fff,
    1446px 1999px #fff,
    937px 1848px #fff,
    1901px 1316px #fff,
    1509px 1617px #fff,
    2247px 204px #fff,
    2247px 1223px #fff,
    2202px 731px #fff,
    2155px 1048px #fff,
    313px 1354px #fff,
    1326px 651px #fff,
    1152px 585px #fff,
    2372px 372px #fff,
    1365px 138px #fff,
    987px 331px #fff,
    1427px 1731px #fff,
    2163px 1268px #fff,
    2067px 1038px #fff,
    2188px 235px #fff,
    225px 1556px #fff,
    2077px 455px #fff,
    353px 1857px #fff,
    2059px 232px #fff,
    2281px 328px #fff,
    648px 914px #fff,
    1417px 1701px #fff,
    931px 1933px #fff,
    852px 1639px #fff,
    912px 1254px #fff,
    2075px 484px #fff,
    2524px 1455px #fff,
    312px 367px #fff,
    2348px 261px #fff,
    1897px 1364px #fff,
    1383px 449px #fff,
    366px 1571px #fff,
    1529px 1672px #fff,
    2462px 320px #fff,
    1857px 1762px #fff,
    1651px 127px #fff,
    2178px 946px #fff,
    1826px 774px #fff,
    475px 900px #fff,
    852px 1207px #fff,
    1017px 1473px #fff,
    1983px 1252px #fff,
    279px 1436px #fff,
    610px 1306px #fff,
    1005px 365px #fff,
    2151px 1184px #fff,
    774px 304px #fff,
    832px 1180px #fff,
    589px 1534px #fff,
    2171px 95px #fff,
    1763px 712px #fff,
    1738px 1513px #fff,
    1115px 1721px #fff,
    65px 1901px #fff,
    2271px 1608px #fff,
    94px 1437px #fff,
    2124px 602px #fff,
    612px 690px #fff,
    1222px 1140px #fff,
    2096px 1618px #fff,
    1028px 1464px #fff,
    80px 1651px #fff,
    1152px 148px #fff,
    1929px 1583px #fff,
    156px 1813px #fff,
    469px 1943px #fff,
    1681px 107px #fff,
    1238px 1635px #fff,
    1336px 113px #fff,
    2315px 1398px #fff,
    836px 1867px #fff,
    2079px 1610px #fff,
    1106px 1295px #fff,
    491px 50px #fff,
    2253px 784px #fff,
    1764px 839px #fff,
    2169px 1693px #fff,
    2242px 774px #fff,
    1570px 1146px #fff,
    56px 998px #fff,
    597px 300px #fff,
    1911px 21px #fff,
    930px 3px #fff,
    2464px 1378px #fff,
    1291px 276px #fff,
    1968px 794px #fff,
    996px 1520px #fff,
    1297px 579px #fff,
    1575px 1091px #fff,
    759px 1981px #fff,
    1177px 1129px #fff,
    683px 100px #fff,
    1854px 77px #fff,
    242px 41px #fff,
    1274px 1414px #fff,
    2431px 635px #fff,
    2060px 613px #fff,
    1769px 1153px #fff,
    1607px 975px #fff,
    1121px 1184px #fff,
    1181px 1622px #fff,
    1565px 1893px #fff,
    1227px 644px #fff,
    467px 1070px #fff,
    1816px 1186px #fff,
    1543px 570px #fff,
    2318px 704px #fff,
    241px 686px #fff,
    728px 1676px #fff,
    2372px 552px #fff,
    2130px 500px #fff,
    1115px 1708px #fff,
    2073px 1412px #fff,
    1878px 1434px #fff,
    985px 1009px #fff,
    267px 1823px #fff,
    2287px 1987px #fff,
    1722px 903px #fff,
    1435px 1498px #fff,
    1295px 211px #fff,
    1864px 749px #fff,
    608px 1718px #fff,
    1909px 880px #fff,
    1587px 1344px #fff,
    2067px 137px #fff,
    1416px 589px #fff,
    224px 660px #fff,
    2298px 1037px #fff,
    524px 364px #fff,
    2190px 1949px #fff,
    422px 1101px #fff,
    2283px 1728px #fff,
    2560px 1719px #fff,
    1997px 1474px #fff,
    495px 1691px #fff,
    2110px 1658px #fff,
    1693px 758px #fff,
    1553px 1326px #fff,
    1215px 357px #fff,
    1188px 1687px #fff,
    2280px 1142px #fff,
    1243px 451px #fff,
    1263px 270px #fff,
    1942px 881px #fff,
    1891px 947px #fff,
    1538px 497px #fff,
    2314px 781px #fff,
    2170px 1807px #fff,
    1196px 1892px #fff,
    453px 116px #fff,
    1955px 601px #fff,
    2437px 226px #fff,
    519px 1756px #fff,
    291px 548px #fff,
    1466px 1133px #fff,
    1725px 821px #fff,
    1848px 1947px #fff,
    1420px 994px #fff,
    1285px 629px #fff,
    301px 1996px #fff,
    160px 1303px #fff,
    2422px 387px #fff,
    1427px 224px #fff,
    1867px 1204px #fff,
    668px 1436px #fff,
    758px 1414px #fff,
    672px 1671px #fff,
    98px 1464px #fff,
    2148px 634px #fff,
    1978px 1181px #fff,
    2483px 1480px #fff,
    581px 1039px #fff,
    1375px 571px #fff,
    777px 1472px #fff,
    24px 597px #fff,
    497px 992px #fff,
    1623px 1820px #fff,
    520px 440px #fff,
    2104px 1738px #fff,
    16px 830px #fff,
    1925px 127px #fff,
    557px 978px #fff,
    2043px 1970px #fff,
    1271px 1023px #fff,
    2021px 1401px #fff,
    1023px 550px #fff,
    1161px 1439px #fff,
    1823px 914px #fff,
    825px 939px #fff,
    1099px 1855px #fff,
    1808px 1070px #fff,
    995px 1907px #fff,
    624px 426px #fff,
    1853px 346px #fff,
    1063px 232px #fff,
    2433px 833px #fff,
    877px 229px #fff,
    1568px 1102px #fff,
    1820px 669px #fff,
    710px 1550px #fff,
    833px 850px #fff,
    2299px 872px #fff,
    1423px 635px #fff,
    558px 1390px #fff,
    2232px 294px #fff,
    788px 461px #fff,
    1058px 743px #fff,
    2020px 1791px #fff,
    925px 889px #fff,
    1956px 727px #fff,
    225px 948px #fff,
    2234px 1391px #fff,
    1852px 962px #fff,
    1981px 1119px #fff,
    456px 1777px #fff,
    1998px 926px #fff,
    352px 220px #fff,
    542px 1699px #fff,
    2082px 1742px #fff,
    1133px 1721px #fff,
    1939px 932px #fff,
    240px 153px #fff,
    296px 522px #fff,
    173px 1270px #fff,
    649px 1448px #fff,
    1514px 602px #fff,
    2174px 836px #fff,
    1319px 565px #fff,
    2269px 433px #fff,
    2278px 762px #fff,
    2093px 1645px #fff,
    503px 250px #fff,
    1888px 868px #fff,
    1214px 998px #fff,
    942px 485px #fff,
    1502px 111px #fff,
    89px 651px #fff,
    2006px 789px #fff,
    1056px 1022px #fff,
    1259px 1337px #fff,
    1817px 424px #fff,
    1272px 1626px #fff,
    1609px 1037px #fff,
    666px 1939px #fff,
    475px 1940px #fff,
    1488px 1246px #fff,
    2452px 1354px #fff,
    2090px 685px #fff,
    1151px 324px #fff,
    744px 1080px #fff,
    1051px 123px #fff,
    1512px 411px #fff,
    1326px 1532px #fff,
    2111px 772px #fff,
    2275px 1598px #fff,
    615px 1627px #fff,
    1199px 365px #fff,
    884px 1924px #fff,
    2176px 1901px #fff,
    122px 466px #fff,
    1153px 82px #fff,
    1763px 971px #fff,
    2273px 486px #fff,
    474px 1141px #fff,
    1466px 321px #fff,
    2324px 603px #fff,
    396px 17px #fff,
    81px 786px #fff,
    506px 1216px #fff,
    1327px 637px #fff,
    2233px 1413px #fff,
    2277px 1441px #fff,
    514px 378px #fff,
    1201px 765px #fff,
    518px 66px #fff,
    1855px 194px #fff,
    105px 739px #fff,
    1893px 752px #fff,
    1268px 1989px #fff,
    786px 649px #fff,
    1379px 1198px #fff,
    2262px 1498px #fff,
    2337px 453px #fff,
    625px 1752px #fff,
    997px 685px #fff,
    2414px 652px #fff,
    804px 53px #fff,
    801px 491px #fff,
    368px 1131px #fff,
    1486px 1000px #fff,
    1528px 1907px #fff,
    838px 1692px #fff,
    1672px 907px #fff,
    923px 39px #fff,
    1328px 975px #fff,
    2214px 1994px #fff,
    224px 137px #fff,
    631px 410px #fff,
    2417px 704px #fff,
    560px 1602px #fff,
    7px 903px #fff,
    1724px 845px #fff,
    523px 699px #fff,
    780px 948px #fff,
    2537px 1273px #fff,
    2486px 1804px #fff,
    1082px 1941px #fff,
    709px 1388px #fff,
    854px 1468px #fff,
    169px 1916px #fff,
    1778px 413px #fff,
    2231px 1233px #fff,
    2499px 1516px #fff,
    293px 1557px #fff,
    2405px 558px #fff,
    207px 621px #fff,
    2492px 1632px #fff,
    1653px 386px #fff,
    772px 1968px #fff,
    1432px 56px #fff,
    1552px 1553px #fff,
    1128px 1280px #fff,
    2237px 28px #fff,
    443px 1640px #fff,
    349px 491px #fff,
    1506px 924px #fff,
    1913px 1678px #fff,
    2168px 1155px #fff,
    1412px 262px #fff,
    774px 1523px #fff,
    1688px 1557px #fff,
    1827px 1199px #fff,
    1762px 682px #fff,
    1760px 471px #fff,
    31px 1174px #fff,
    1112px 1540px #fff,
    1706px 1768px #fff,
    828px 1542px #fff,
    2363px 1768px #fff,
    1563px 242px #fff,
    355px 387px #fff,
    2553px 1879px #fff,
    703px 548px #fff,
    647px 410px #fff,
    792px 1863px #fff,
    1829px 1615px #fff,
    1248px 390px #fff,
    766px 1535px #fff,
    1448px 994px #fff,
    385px 1395px #fff,
    2217px 1608px #fff,
    596px 582px #fff,
    2144px 1269px #fff,
    236px 344px #fff,
    1890px 1844px #fff,
    1242px 1589px #fff,
    1095px 966px #fff,
    1413px 1924px #fff,
    1439px 1991px #fff,
    1035px 1749px #fff,
    861px 734px #fff,
    1143px 652px #fff,
    2103px 1444px #fff,
    30px 46px #fff,
    1736px 777px #fff,
    129px 1781px #fff,
    670px 272px #fff,
    1431px 1505px #fff,
    225px 446px #fff,
    515px 1737px #fff,
    2519px 1568px #fff,
    970px 1970px #fff,
    771px 1698px #fff,
    630px 1640px #fff,
    936px 542px #fff,
    654px 1344px #fff,
    1372px 1387px #fff,
    189px 1896px #fff,
    2269px 1930px #fff,
    2398px 1837px #fff,
    98px 705px #fff,
    1580px 1481px #fff,
    2344px 1372px #fff,
    1029px 1051px #fff,
    1734px 1060px #fff,
    864px 1549px #fff,
    1388px 1322px #fff,
    827px 1857px #fff,
    1397px 898px #fff,
    2286px 1124px #fff,
    223px 210px #fff,
    1424px 590px #fff,
    2191px 550px #fff,
    806px 1722px #fff,
    2408px 1687px #fff,
    689px 775px #fff,
    1991px 1079px #fff,
    2556px 1278px #fff,
    1089px 238px #fff,
    444px 777px #fff,
    586px 529px #fff,
    2159px 578px #fff,
    1382px 576px #fff,
    1818px 1551px #fff,
    919px 1324px #fff,
    2351px 1273px #fff,
    889px 1614px #fff,
    339px 717px #fff,
    1621px 52px #fff,
    1513px 70px #fff,
    2175px 1903px #fff,
    530px 1155px #fff,
    473px 635px #fff,
    1419px 1804px #fff,
    1754px 1259px #fff,
    639px 24px #fff,
    1663px 1110px #fff,
    2506px 1497px #fff,
    1068px 173px #fff,
    1695px 1341px #fff,
    2368px 1955px #fff,
    250px 1360px #fff,
    1719px 1873px #fff,
    2083px 101px #fff,
    2527px 1704px #fff,
    797px 1317px #fff,
    529px 1853px #fff,
    1726px 953px #fff,
    1016px 433px #fff,
    152px 843px #fff,
    1800px 730px #fff,
    160px 1001px #fff,
    2043px 1896px #fff,
    919px 1138px #fff,
    1753px 1419px #fff,
    188px 178px #fff,
    2137px 1783px #fff,
    958px 347px #fff,
    1073px 1244px #fff,
    1921px 1452px #fff,
    1882px 1747px #fff,
    878px 282px #fff,
    664px 1430px #fff,
    818px 266px #fff,
    1422px 1347px #fff,
    2338px 1684px #fff,
    339px 780px #fff,
    2301px 445px #fff,
    2433px 10px #fff,
    2166px 1475px #fff,
    1520px 1866px #fff,
    2413px 326px #fff,
    2459px 1764px #fff,
    1168px 1222px #fff,
    949px 384px #fff,
    1455px 1551px #fff,
    1537px 736px #fff,
    527px 578px #fff,
    222px 1509px #fff,
    276px 1250px #fff,
    498px 1603px #fff,
    1135px 932px #fff,
    819px 1447px #fff,
    786px 1267px #fff,
    1911px 1324px #fff,
    2113px 984px #fff,
    1362px 1304px #fff,
    2301px 301px #fff,
    87px 1552px #fff,
    2062px 1508px #fff,
    481px 891px #fff,
    2121px 1640px #fff,
    1402px 885px #fff,
    531px 810px #fff,
    1377px 1965px #fff,
    553px 128px #fff,
    804px 1992px #fff,
    2082px 1876px #fff,
    2332px 641px #fff,
    1293px 1157px #fff,
    1779px 1887px #fff,
    970px 685px #fff,
    1053px 7px #fff,
    323px 262px #fff,
    1077px 964px #fff,
    1499px 1387px #fff,
    1220px 1993px #fff,
    171px 512px #fff,
    35px 848px #fff,
    1129px 361px #fff,
    2544px 1583px #fff,
    1981px 599px #fff,
    758px 16px #fff,
    1233px 1206px #fff,
    407px 1602px #fff,
    1802px 503px #fff,
    79px 509px #fff,
    1940px 1998px #fff,
    764px 1873px #fff,
    1226px 258px #fff,
    349px 714px #fff,
    2311px 335px #fff,
    183px 1288px #fff,
    1498px 1634px #fff,
    2219px 831px #fff,
    2146px 1766px #fff,
    466px 1735px #fff,
    299px 1720px #fff,
    355px 1611px #fff,
    221px 23px #fff,
    1694px 1945px #fff,
    2089px 1033px #fff,
    2323px 994px #fff,
    2448px 300px #fff,
    449px 1091px #fff,
    53px 632px #fff,
    1718px 676px #fff,
    1856px 794px #fff,
    594px 1525px #fff,
    1068px 1810px #fff,
    13px 1196px #fff,
    1615px 133px #fff,
    2138px 1866px #fff,
    666px 1234px #fff,
    2105px 707px #fff,
    447px 326px #fff,
    903px 951px #fff,
    2302px 1380px #fff,
    1581px 215px #fff,
    1157px 1186px #fff,
    613px 1198px #fff,
    1677px 1199px #fff,
    2187px 1337px #fff,
    2278px 401px #fff,
    421px 1006px #fff,
    1674px 1968px #fff,
    624px 1430px #fff,
    2494px 1927px #fff,
    324px 1006px #fff,
    1098px 1185px #fff,
    1547px 782px #fff,
    750px 1221px #fff,
    1687px 1269px #fff,
    1229px 1782px #fff,
    1943px 671px #fff,
    1686px 284px #fff,
    1195px 1265px #fff,
    2302px 497px #fff,
    610px 649px #fff,
    2523px 715px #fff,
    1013px 1300px #fff,
    2494px 1159px #fff,
    2112px 1000px #fff,
    950px 145px #fff,
    581px 236px #fff,
    46px 569px #fff,
    2001px 1879px #fff,
    123px 1315px #fff,
    1367px 519px #fff,
    1593px 1817px #fff,
    1543px 1106px #fff,
    1993px 982px #fff,
    233px 1667px #fff,
    2384px 256px #fff,
    2471px 318px #fff,
    1836px 734px #fff,
    584px 589px #fff,
    1679px 261px #fff,
    667px 881px #fff,
    1394px 1497px #fff,
    2035px 665px #fff,
    246px 927px #fff,
    1484px 1213px #fff,
    869px 1553px #fff,
    2365px 120px #fff,
    1232px 1513px #fff,
    1123px 544px #fff,
    2415px 616px #fff,
    2249px 1153px #fff,
    310px 1374px #fff,
    334px 1575px #fff,
    1623px 804px #fff,
    144px 581px #fff,
    2046px 666px #fff,
    1443px 468px #fff,
    186px 1713px #fff,
    643px 734px #fff,
    346px 695px #fff,
    1700px 1391px #fff,
    2121px 806px #fff,
    1259px 1438px #fff,
    698px 1940px #fff,
    2325px 422px #fff,
    1711px 1072px #fff,
    428px 1785px #fff,
    492px 1149px #fff,
    225px 345px #fff,
    2018px 404px #fff,
    6px 337px #fff,
    1027px 1896px #fff,
    612px 1696px #fff,
    195px 993px #fff,
    421px 450px #fff,
    2487px 466px #fff,
    2544px 1536px #fff,
    632px 180px #fff,
    932px 1645px #fff,
    2287px 1513px #fff,
    1085px 847px #fff,
    1251px 487px #fff,
    1211px 1576px #fff,
    76px 664px #fff,
    1620px 192px #fff,
    1330px 1758px #fff,
    2251px 1211px #fff,
    1382px 1394px #fff,
    936px 1843px #fff,
    453px 738px #fff,
    1324px 991px #fff,
    2213px 97px #fff,
    1126px 391px #fff,
    1655px 1842px #fff,
    1135px 1508px #fff,
    1262px 370px #fff,
    1175px 446px #fff,
    2439px 757px #fff,
    1461px 367px #fff,
    163px 877px #fff,
    1390px 1879px #fff,
    1978px 505px #fff,
    2096px 1885px #fff,
    946px 652px #fff,
    1408px 1588px #fff,
    632px 1582px #fff,
    615px 603px #fff,
    751px 469px #fff,
    535px 611px #fff,
    446px 349px #fff,
    521px 569px #fff,
    697px 1516px #fff,
    1458px 709px #fff,
    1972px 1842px #fff,
    2231px 227px #fff,
    6px 339px #fff,
    937px 1929px #fff,
    717px 597px #fff,
    751px 1354px #fff,
    2022px 998px #fff,
    2508px 1559px #fff,
    2334px 581px #fff,
    399px 1127px #fff,
    1393px 296px #fff,
    2462px 1754px #fff,
    1020px 1896px #fff,
    1517px 1281px #fff,
    1870px 729px #fff,
    1998px 1156px #fff,
    1028px 9px #fff,
    484px 1902px #fff,
    1034px 1458px #fff,
    116px 391px #fff,
    1428px 724px #fff,
    1735px 1691px #fff,
    2153px 1875px #fff,
    1425px 1954px #fff,
    2395px 610px #fff,
    969px 360px #fff,
    1987px 1274px #fff,
    2246px 135px #fff,
    1776px 143px #fff,
    351px 74px #fff,
    2474px 1804px #fff,
    472px 1861px #fff,
    1104px 1590px #fff,
    1798px 801px #fff,
    1770px 112px #fff,
    1698px 58px #fff,
    277px 960px #fff,
    2417px 1615px #fff,
    1290px 1358px #fff,
    110px 736px #fff,
    2269px 1087px #fff,
    1346px 432px #fff,
    184px 969px #fff;
  animation: animStar 50s linear infinite;
}

#star-1:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1813px 1673px #fff,
    1453px 289px #fff,
    96px 1283px #fff,
    387px 1539px #fff,
    1162px 972px #fff,
    390px 1530px #fff,
    845px 56px #fff,
    743px 371px #fff,
    2560px 1352px #fff,
    1373px 1699px #fff,
    1395px 76px #fff,
    1275px 1586px #fff,
    1313px 1283px #fff,
    1446px 1999px #fff,
    937px 1848px #fff,
    1901px 1316px #fff,
    1509px 1617px #fff,
    2247px 204px #fff,
    2247px 1223px #fff,
    2202px 731px #fff,
    2155px 1048px #fff,
    313px 1354px #fff,
    1326px 651px #fff,
    1152px 585px #fff,
    2372px 372px #fff,
    1365px 138px #fff,
    987px 331px #fff,
    1427px 1731px #fff,
    2163px 1268px #fff,
    2067px 1038px #fff,
    2188px 235px #fff,
    225px 1556px #fff,
    2077px 455px #fff,
    353px 1857px #fff,
    2059px 232px #fff,
    2281px 328px #fff,
    648px 914px #fff,
    1417px 1701px #fff,
    931px 1933px #fff,
    852px 1639px #fff,
    912px 1254px #fff,
    2075px 484px #fff,
    2524px 1455px #fff,
    312px 367px #fff,
    2348px 261px #fff,
    1897px 1364px #fff,
    1383px 449px #fff,
    366px 1571px #fff,
    1529px 1672px #fff,
    2462px 320px #fff,
    1857px 1762px #fff,
    1651px 127px #fff,
    2178px 946px #fff,
    1826px 774px #fff,
    475px 900px #fff,
    852px 1207px #fff,
    1017px 1473px #fff,
    1983px 1252px #fff,
    279px 1436px #fff,
    610px 1306px #fff,
    1005px 365px #fff,
    2151px 1184px #fff,
    774px 304px #fff,
    832px 1180px #fff,
    589px 1534px #fff,
    2171px 95px #fff,
    1763px 712px #fff,
    1738px 1513px #fff,
    1115px 1721px #fff,
    65px 1901px #fff,
    2271px 1608px #fff,
    94px 1437px #fff,
    2124px 602px #fff,
    612px 690px #fff,
    1222px 1140px #fff,
    2096px 1618px #fff,
    1028px 1464px #fff,
    80px 1651px #fff,
    1152px 148px #fff,
    1929px 1583px #fff,
    156px 1813px #fff,
    469px 1943px #fff,
    1681px 107px #fff,
    1238px 1635px #fff,
    1336px 113px #fff,
    2315px 1398px #fff,
    836px 1867px #fff,
    2079px 1610px #fff,
    1106px 1295px #fff,
    491px 50px #fff,
    2253px 784px #fff,
    1764px 839px #fff,
    2169px 1693px #fff,
    2242px 774px #fff,
    1570px 1146px #fff,
    56px 998px #fff,
    597px 300px #fff,
    1911px 21px #fff,
    930px 3px #fff,
    2464px 1378px #fff,
    1291px 276px #fff,
    1968px 794px #fff,
    996px 1520px #fff,
    1297px 579px #fff,
    1575px 1091px #fff,
    759px 1981px #fff,
    1177px 1129px #fff,
    683px 100px #fff,
    1854px 77px #fff,
    242px 41px #fff,
    1274px 1414px #fff,
    2431px 635px #fff,
    2060px 613px #fff,
    1769px 1153px #fff,
    1607px 975px #fff,
    1121px 1184px #fff,
    1181px 1622px #fff,
    1565px 1893px #fff,
    1227px 644px #fff,
    467px 1070px #fff,
    1816px 1186px #fff,
    1543px 570px #fff,
    2318px 704px #fff,
    241px 686px #fff,
    728px 1676px #fff,
    2372px 552px #fff,
    2130px 500px #fff,
    1115px 1708px #fff,
    2073px 1412px #fff,
    1878px 1434px #fff,
    985px 1009px #fff,
    267px 1823px #fff,
    2287px 1987px #fff,
    1722px 903px #fff,
    1435px 1498px #fff,
    1295px 211px #fff,
    1864px 749px #fff,
    608px 1718px #fff,
    1909px 880px #fff,
    1587px 1344px #fff,
    2067px 137px #fff,
    1416px 589px #fff,
    224px 660px #fff,
    2298px 1037px #fff,
    524px 364px #fff,
    2190px 1949px #fff,
    422px 1101px #fff,
    2283px 1728px #fff,
    2560px 1719px #fff,
    1997px 1474px #fff,
    495px 1691px #fff,
    2110px 1658px #fff,
    1693px 758px #fff,
    1553px 1326px #fff,
    1215px 357px #fff,
    1188px 1687px #fff,
    2280px 1142px #fff,
    1243px 451px #fff,
    1263px 270px #fff,
    1942px 881px #fff,
    1891px 947px #fff,
    1538px 497px #fff,
    2314px 781px #fff,
    2170px 1807px #fff,
    1196px 1892px #fff,
    453px 116px #fff,
    1955px 601px #fff,
    2437px 226px #fff,
    519px 1756px #fff,
    291px 548px #fff,
    1466px 1133px #fff,
    1725px 821px #fff,
    1848px 1947px #fff,
    1420px 994px #fff,
    1285px 629px #fff,
    301px 1996px #fff,
    160px 1303px #fff,
    2422px 387px #fff,
    1427px 224px #fff,
    1867px 1204px #fff,
    668px 1436px #fff,
    758px 1414px #fff,
    672px 1671px #fff,
    98px 1464px #fff,
    2148px 634px #fff,
    1978px 1181px #fff,
    2483px 1480px #fff,
    581px 1039px #fff,
    1375px 571px #fff,
    777px 1472px #fff,
    24px 597px #fff,
    497px 992px #fff,
    1623px 1820px #fff,
    520px 440px #fff,
    2104px 1738px #fff,
    16px 830px #fff,
    1925px 127px #fff,
    557px 978px #fff,
    2043px 1970px #fff,
    1271px 1023px #fff,
    2021px 1401px #fff,
    1023px 550px #fff,
    1161px 1439px #fff,
    1823px 914px #fff,
    825px 939px #fff,
    1099px 1855px #fff,
    1808px 1070px #fff,
    995px 1907px #fff,
    624px 426px #fff,
    1853px 346px #fff,
    1063px 232px #fff,
    2433px 833px #fff,
    877px 229px #fff,
    1568px 1102px #fff,
    1820px 669px #fff,
    710px 1550px #fff,
    833px 850px #fff,
    2299px 872px #fff,
    1423px 635px #fff,
    558px 1390px #fff,
    2232px 294px #fff,
    788px 461px #fff,
    1058px 743px #fff,
    2020px 1791px #fff,
    925px 889px #fff,
    1956px 727px #fff,
    225px 948px #fff,
    2234px 1391px #fff,
    1852px 962px #fff,
    1981px 1119px #fff,
    456px 1777px #fff,
    1998px 926px #fff,
    352px 220px #fff,
    542px 1699px #fff,
    2082px 1742px #fff,
    1133px 1721px #fff,
    1939px 932px #fff,
    240px 153px #fff,
    296px 522px #fff,
    173px 1270px #fff,
    649px 1448px #fff,
    1514px 602px #fff,
    2174px 836px #fff,
    1319px 565px #fff,
    2269px 433px #fff,
    2278px 762px #fff,
    2093px 1645px #fff,
    503px 250px #fff,
    1888px 868px #fff,
    1214px 998px #fff,
    942px 485px #fff,
    1502px 111px #fff,
    89px 651px #fff,
    2006px 789px #fff,
    1056px 1022px #fff,
    1259px 1337px #fff,
    1817px 424px #fff,
    1272px 1626px #fff,
    1609px 1037px #fff,
    666px 1939px #fff,
    475px 1940px #fff,
    1488px 1246px #fff,
    2452px 1354px #fff,
    2090px 685px #fff,
    1151px 324px #fff,
    744px 1080px #fff,
    1051px 123px #fff,
    1512px 411px #fff,
    1326px 1532px #fff,
    2111px 772px #fff,
    2275px 1598px #fff,
    615px 1627px #fff,
    1199px 365px #fff,
    884px 1924px #fff,
    2176px 1901px #fff,
    122px 466px #fff,
    1153px 82px #fff,
    1763px 971px #fff,
    2273px 486px #fff,
    474px 1141px #fff,
    1466px 321px #fff,
    2324px 603px #fff,
    396px 17px #fff,
    81px 786px #fff,
    506px 1216px #fff,
    1327px 637px #fff,
    2233px 1413px #fff,
    2277px 1441px #fff,
    514px 378px #fff,
    1201px 765px #fff,
    518px 66px #fff,
    1855px 194px #fff,
    105px 739px #fff,
    1893px 752px #fff,
    1268px 1989px #fff,
    786px 649px #fff,
    1379px 1198px #fff,
    2262px 1498px #fff,
    2337px 453px #fff,
    625px 1752px #fff,
    997px 685px #fff,
    2414px 652px #fff,
    804px 53px #fff,
    801px 491px #fff,
    368px 1131px #fff,
    1486px 1000px #fff,
    1528px 1907px #fff,
    838px 1692px #fff,
    1672px 907px #fff,
    923px 39px #fff,
    1328px 975px #fff,
    2214px 1994px #fff,
    224px 137px #fff,
    631px 410px #fff,
    2417px 704px #fff,
    560px 1602px #fff,
    7px 903px #fff,
    1724px 845px #fff,
    523px 699px #fff,
    780px 948px #fff,
    2537px 1273px #fff,
    2486px 1804px #fff,
    1082px 1941px #fff,
    709px 1388px #fff,
    854px 1468px #fff,
    169px 1916px #fff,
    1778px 413px #fff,
    2231px 1233px #fff,
    2499px 1516px #fff,
    293px 1557px #fff,
    2405px 558px #fff,
    207px 621px #fff,
    2492px 1632px #fff,
    1653px 386px #fff,
    772px 1968px #fff,
    1432px 56px #fff,
    1552px 1553px #fff,
    1128px 1280px #fff,
    2237px 28px #fff,
    443px 1640px #fff,
    349px 491px #fff,
    1506px 924px #fff,
    1913px 1678px #fff,
    2168px 1155px #fff,
    1412px 262px #fff,
    774px 1523px #fff,
    1688px 1557px #fff,
    1827px 1199px #fff,
    1762px 682px #fff,
    1760px 471px #fff,
    31px 1174px #fff,
    1112px 1540px #fff,
    1706px 1768px #fff,
    828px 1542px #fff,
    2363px 1768px #fff,
    1563px 242px #fff,
    355px 387px #fff,
    2553px 1879px #fff,
    703px 548px #fff,
    647px 410px #fff,
    792px 1863px #fff,
    1829px 1615px #fff,
    1248px 390px #fff,
    766px 1535px #fff,
    1448px 994px #fff,
    385px 1395px #fff,
    2217px 1608px #fff,
    596px 582px #fff,
    2144px 1269px #fff,
    236px 344px #fff,
    1890px 1844px #fff,
    1242px 1589px #fff,
    1095px 966px #fff,
    1413px 1924px #fff,
    1439px 1991px #fff,
    1035px 1749px #fff,
    861px 734px #fff,
    1143px 652px #fff,
    2103px 1444px #fff,
    30px 46px #fff,
    1736px 777px #fff,
    129px 1781px #fff,
    670px 272px #fff,
    1431px 1505px #fff,
    225px 446px #fff,
    515px 1737px #fff,
    2519px 1568px #fff,
    970px 1970px #fff,
    771px 1698px #fff,
    630px 1640px #fff,
    936px 542px #fff,
    654px 1344px #fff,
    1372px 1387px #fff,
    189px 1896px #fff,
    2269px 1930px #fff,
    2398px 1837px #fff,
    98px 705px #fff,
    1580px 1481px #fff,
    2344px 1372px #fff,
    1029px 1051px #fff,
    1734px 1060px #fff,
    864px 1549px #fff,
    1388px 1322px #fff,
    827px 1857px #fff,
    1397px 898px #fff,
    2286px 1124px #fff,
    223px 210px #fff,
    1424px 590px #fff,
    2191px 550px #fff,
    806px 1722px #fff,
    2408px 1687px #fff,
    689px 775px #fff,
    1991px 1079px #fff,
    2556px 1278px #fff,
    1089px 238px #fff,
    444px 777px #fff,
    586px 529px #fff,
    2159px 578px #fff,
    1382px 576px #fff,
    1818px 1551px #fff,
    919px 1324px #fff,
    2351px 1273px #fff,
    889px 1614px #fff,
    339px 717px #fff,
    1621px 52px #fff,
    1513px 70px #fff,
    2175px 1903px #fff,
    530px 1155px #fff,
    473px 635px #fff,
    1419px 1804px #fff,
    1754px 1259px #fff,
    639px 24px #fff,
    1663px 1110px #fff,
    2506px 1497px #fff,
    1068px 173px #fff,
    1695px 1341px #fff,
    2368px 1955px #fff,
    250px 1360px #fff,
    1719px 1873px #fff,
    2083px 101px #fff,
    2527px 1704px #fff,
    797px 1317px #fff,
    529px 1853px #fff,
    1726px 953px #fff,
    1016px 433px #fff,
    152px 843px #fff,
    1800px 730px #fff,
    160px 1001px #fff,
    2043px 1896px #fff,
    919px 1138px #fff,
    1753px 1419px #fff,
    188px 178px #fff,
    2137px 1783px #fff,
    958px 347px #fff,
    1073px 1244px #fff,
    1921px 1452px #fff,
    1882px 1747px #fff,
    878px 282px #fff,
    664px 1430px #fff,
    818px 266px #fff,
    1422px 1347px #fff,
    2338px 1684px #fff,
    339px 780px #fff,
    2301px 445px #fff,
    2433px 10px #fff,
    2166px 1475px #fff,
    1520px 1866px #fff,
    2413px 326px #fff,
    2459px 1764px #fff,
    1168px 1222px #fff,
    949px 384px #fff,
    1455px 1551px #fff,
    1537px 736px #fff,
    527px 578px #fff,
    222px 1509px #fff,
    276px 1250px #fff,
    498px 1603px #fff,
    1135px 932px #fff,
    819px 1447px #fff,
    786px 1267px #fff,
    1911px 1324px #fff,
    2113px 984px #fff,
    1362px 1304px #fff,
    2301px 301px #fff,
    87px 1552px #fff,
    2062px 1508px #fff,
    481px 891px #fff,
    2121px 1640px #fff,
    1402px 885px #fff,
    531px 810px #fff,
    1377px 1965px #fff,
    553px 128px #fff,
    804px 1992px #fff,
    2082px 1876px #fff,
    2332px 641px #fff,
    1293px 1157px #fff,
    1779px 1887px #fff,
    970px 685px #fff,
    1053px 7px #fff,
    323px 262px #fff,
    1077px 964px #fff,
    1499px 1387px #fff,
    1220px 1993px #fff,
    171px 512px #fff,
    35px 848px #fff,
    1129px 361px #fff,
    2544px 1583px #fff,
    1981px 599px #fff,
    758px 16px #fff,
    1233px 1206px #fff,
    407px 1602px #fff,
    1802px 503px #fff,
    79px 509px #fff,
    1940px 1998px #fff,
    764px 1873px #fff,
    1226px 258px #fff,
    349px 714px #fff,
    2311px 335px #fff,
    183px 1288px #fff,
    1498px 1634px #fff,
    2219px 831px #fff,
    2146px 1766px #fff,
    466px 1735px #fff,
    299px 1720px #fff,
    355px 1611px #fff,
    221px 23px #fff,
    1694px 1945px #fff,
    2089px 1033px #fff,
    2323px 994px #fff,
    2448px 300px #fff,
    449px 1091px #fff,
    53px 632px #fff,
    1718px 676px #fff,
    1856px 794px #fff,
    594px 1525px #fff,
    1068px 1810px #fff,
    13px 1196px #fff,
    1615px 133px #fff,
    2138px 1866px #fff,
    666px 1234px #fff,
    2105px 707px #fff,
    447px 326px #fff,
    903px 951px #fff,
    2302px 1380px #fff,
    1581px 215px #fff,
    1157px 1186px #fff,
    613px 1198px #fff,
    1677px 1199px #fff,
    2187px 1337px #fff,
    2278px 401px #fff,
    421px 1006px #fff,
    1674px 1968px #fff,
    624px 1430px #fff,
    2494px 1927px #fff,
    324px 1006px #fff,
    1098px 1185px #fff,
    1547px 782px #fff,
    750px 1221px #fff,
    1687px 1269px #fff,
    1229px 1782px #fff,
    1943px 671px #fff,
    1686px 284px #fff,
    1195px 1265px #fff,
    2302px 497px #fff,
    610px 649px #fff,
    2523px 715px #fff,
    1013px 1300px #fff,
    2494px 1159px #fff,
    2112px 1000px #fff,
    950px 145px #fff,
    581px 236px #fff,
    46px 569px #fff,
    2001px 1879px #fff,
    123px 1315px #fff,
    1367px 519px #fff,
    1593px 1817px #fff,
    1543px 1106px #fff,
    1993px 982px #fff,
    233px 1667px #fff,
    2384px 256px #fff,
    2471px 318px #fff,
    1836px 734px #fff,
    584px 589px #fff,
    1679px 261px #fff,
    667px 881px #fff,
    1394px 1497px #fff,
    2035px 665px #fff,
    246px 927px #fff,
    1484px 1213px #fff,
    869px 1553px #fff,
    2365px 120px #fff,
    1232px 1513px #fff,
    1123px 544px #fff,
    2415px 616px #fff,
    2249px 1153px #fff,
    310px 1374px #fff,
    334px 1575px #fff,
    1623px 804px #fff,
    144px 581px #fff,
    2046px 666px #fff,
    1443px 468px #fff,
    186px 1713px #fff,
    643px 734px #fff,
    346px 695px #fff,
    1700px 1391px #fff,
    2121px 806px #fff,
    1259px 1438px #fff,
    698px 1940px #fff,
    2325px 422px #fff,
    1711px 1072px #fff,
    428px 1785px #fff,
    492px 1149px #fff,
    225px 345px #fff,
    2018px 404px #fff,
    6px 337px #fff,
    1027px 1896px #fff,
    612px 1696px #fff,
    195px 993px #fff,
    421px 450px #fff,
    2487px 466px #fff,
    2544px 1536px #fff,
    632px 180px #fff,
    932px 1645px #fff,
    2287px 1513px #fff,
    1085px 847px #fff,
    1251px 487px #fff,
    1211px 1576px #fff,
    76px 664px #fff,
    1620px 192px #fff,
    1330px 1758px #fff,
    2251px 1211px #fff,
    1382px 1394px #fff,
    936px 1843px #fff,
    453px 738px #fff,
    1324px 991px #fff,
    2213px 97px #fff,
    1126px 391px #fff,
    1655px 1842px #fff,
    1135px 1508px #fff,
    1262px 370px #fff,
    1175px 446px #fff,
    2439px 757px #fff,
    1461px 367px #fff,
    163px 877px #fff,
    1390px 1879px #fff,
    1978px 505px #fff,
    2096px 1885px #fff,
    946px 652px #fff,
    1408px 1588px #fff,
    632px 1582px #fff,
    615px 603px #fff,
    751px 469px #fff,
    535px 611px #fff,
    446px 349px #fff,
    521px 569px #fff,
    697px 1516px #fff,
    1458px 709px #fff,
    1972px 1842px #fff,
    2231px 227px #fff,
    6px 339px #fff,
    937px 1929px #fff,
    717px 597px #fff,
    751px 1354px #fff,
    2022px 998px #fff,
    2508px 1559px #fff,
    2334px 581px #fff,
    399px 1127px #fff,
    1393px 296px #fff,
    2462px 1754px #fff,
    1020px 1896px #fff,
    1517px 1281px #fff,
    1870px 729px #fff,
    1998px 1156px #fff,
    1028px 9px #fff,
    484px 1902px #fff,
    1034px 1458px #fff,
    116px 391px #fff,
    1428px 724px #fff,
    1735px 1691px #fff,
    2153px 1875px #fff,
    1425px 1954px #fff,
    2395px 610px #fff,
    969px 360px #fff,
    1987px 1274px #fff,
    2246px 135px #fff,
    1776px 143px #fff,
    351px 74px #fff,
    2474px 1804px #fff,
    472px 1861px #fff,
    1104px 1590px #fff,
    1798px 801px #fff,
    1770px 112px #fff,
    1698px 58px #fff,
    277px 960px #fff,
    2417px 1615px #fff,
    1290px 1358px #fff,
    110px 736px #fff,
    2269px 1087px #fff,
    1346px 432px #fff,
    184px 969px #fff;
}

#star-2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow2:
    1323px 773px #fff,
    1115px 1814px #fff,
    2272px 269px #fff,
    1653px 964px #fff,
    989px 1253px #fff,
    1317px 1653px #fff,
    1426px 925px #fff,
    1212px 797px #fff,
    1227px 1447px #fff,
    1629px 126px #fff,
    1889px 1908px #fff,
    23px 595px #fff,
    2447px 724px #fff,
    714px 459px #fff,
    1394px 1904px #fff,
    328px 329px #fff,
    756px 268px #fff,
    1565px 272px #fff,
    862px 1584px #fff,
    2516px 1590px #fff,
    483px 1206px #fff,
    531px 1646px #fff,
    1055px 250px #fff,
    1726px 1185px #fff,
    1146px 972px #fff,
    2080px 776px #fff,
    437px 1524px #fff,
    810px 1387px #fff,
    2463px 1103px #fff,
    2552px 1079px #fff,
    7px 1981px #fff,
    232px 1768px #fff,
    1075px 1512px #fff,
    2475px 151px #fff,
    179px 1745px #fff,
    1066px 369px #fff,
    413px 1667px #fff,
    848px 1684px #fff,
    983px 1434px #fff,
    1531px 1474px #fff,
    1095px 1567px #fff,
    1920px 990px #fff,
    64px 1619px #fff,
    863px 1247px #fff,
    1618px 1797px #fff,
    914px 1281px #fff,
    617px 1875px #fff,
    2089px 1638px #fff,
    1804px 1621px #fff,
    2541px 642px #fff,
    943px 1283px #fff,
    1394px 1295px #fff,
    739px 1120px #fff,
    2523px 1975px #fff,
    1778px 1927px #fff,
    2400px 1438px #fff,
    1374px 238px #fff,
    332px 1118px #fff,
    332px 115px #fff,
    627px 926px #fff,
    123px 1709px #fff,
    1879px 290px #fff,
    1138px 117px #fff,
    1338px 848px #fff,
    1277px 1417px #fff,
    654px 519px #fff,
    2074px 116px #fff,
    2336px 1153px #fff,
    1742px 378px #fff,
    2343px 1988px #fff,
    2440px 474px #fff,
    1298px 1519px #fff,
    1793px 1677px #fff,
    2441px 1753px #fff,
    362px 1900px #fff,
    1578px 319px #fff,
    1078px 1331px #fff,
    605px 1851px #fff,
    1912px 1778px #fff,
    2205px 1177px #fff,
    1483px 206px #fff,
    1656px 1893px #fff,
    419px 664px #fff,
    1111px 30px #fff,
    2307px 1693px #fff,
    2159px 1443px #fff,
    1269px 1229px #fff,
    2051px 1558px #fff,
    2174px 1562px #fff,
    1272px 1586px #fff,
    1415px 1298px #fff,
    1596px 758px #fff,
    1810px 1413px #fff,
    644px 1801px #fff,
    72px 427px #fff,
    1780px 791px #fff,
    1288px 1520px #fff,
    755px 732px #fff,
    22px 1748px #fff,
    1392px 1273px #fff,
    2499px 1633px #fff,
    384px 827px #fff,
    1693px 1202px #fff,
    946px 870px #fff,
    1332px 634px #fff,
    1293px 806px #fff,
    617px 1244px #fff,
    2534px 817px #fff,
    2505px 324px #fff,
    2218px 155px #fff,
    2183px 966px #fff,
    1888px 816px #fff,
    2082px 661px #fff,
    245px 497px #fff,
    2271px 1416px #fff,
    1490px 615px #fff,
    2510px 1701px #fff,
    5px 1444px #fff,
    2234px 1271px #fff,
    1807px 1494px #fff,
    2314px 1698px #fff,
    806px 1779px #fff,
    391px 686px #fff,
    441px 1112px #fff,
    1867px 1530px #fff,
    567px 743px #fff,
    337px 1304px #fff,
    884px 1715px #fff,
    9px 1780px #fff,
    1027px 225px #fff,
    791px 1177px #fff,
    1488px 365px #fff,
    1066px 8px #fff,
    404px 750px #fff,
    939px 481px #fff,
    2009px 602px #fff,
    1658px 811px #fff,
    1991px 333px #fff,
    1877px 604px #fff,
    372px 1216px #fff,
    1926px 1541px #fff,
    1206px 1935px #fff,
    2140px 866px #fff,
    1068px 1892px #fff,
    902px 1338px #fff,
    1038px 865px #fff,
    619px 1105px #fff,
    1860px 543px #fff,
    1326px 1037px #fff,
    446px 1903px #fff,
    1283px 1404px #fff,
    521px 387px #fff,
    2006px 1694px #fff,
    858px 233px #fff,
    504px 1058px #fff,
    2049px 1849px #fff,
    1976px 1329px #fff,
    1850px 682px #fff,
    1879px 641px #fff,
    1628px 1308px #fff,
    88px 1830px #fff,
    1753px 1769px #fff,
    1684px 150px #fff,
    1173px 1123px #fff,
    381px 1425px #fff,
    655px 923px #fff,
    1777px 1816px #fff,
    2121px 1654px #fff,
    315px 1594px #fff,
    815px 686px #fff,
    1539px 393px #fff,
    276px 249px #fff,
    2542px 1065px #fff,
    939px 546px #fff,
    360px 1203px #fff,
    1910px 222px #fff,
    84px 1024px #fff,
    687px 1845px #fff,
    204px 1138px #fff,
    1845px 1293px #fff,
    1943px 868px #fff,
    2361px 808px #fff,
    2525px 1497px #fff,
    1246px 382px #fff,
    2233px 854px #fff,
    2464px 890px #fff,
    973px 1511px #fff,
    1514px 924px #fff,
    1925px 507px #fff,
    2521px 548px #fff,
    1886px 1295px #fff,
    1136px 43px #fff,
    871px 1990px #fff,
    1072px 1112px #fff,
    1464px 1868px #fff,
    1599px 285px #fff,
    2466px 757px #fff,
    269px 1683px #fff,
    230px 491px #fff,
    968px 347px #fff;
  animation: animStar 100s linear infinite;
}

#star-2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow2:
    1323px 773px #fff,
    1115px 1814px #fff,
    2272px 269px #fff,
    1653px 964px #fff,
    989px 1253px #fff,
    1317px 1653px #fff,
    1426px 925px #fff,
    1212px 797px #fff,
    1227px 1447px #fff,
    1629px 126px #fff,
    1889px 1908px #fff,
    23px 595px #fff,
    2447px 724px #fff,
    714px 459px #fff,
    1394px 1904px #fff,
    328px 329px #fff,
    756px 268px #fff,
    1565px 272px #fff,
    862px 1584px #fff,
    2516px 1590px #fff,
    483px 1206px #fff,
    531px 1646px #fff,
    1055px 250px #fff,
    1726px 1185px #fff,
    1146px 972px #fff,
    2080px 776px #fff,
    437px 1524px #fff,
    810px 1387px #fff,
    2463px 1103px #fff,
    2552px 1079px #fff,
    7px 1981px #fff,
    232px 1768px #fff,
    1075px 1512px #fff,
    2475px 151px #fff,
    179px 1745px #fff,
    1066px 369px #fff,
    413px 1667px #fff,
    848px 1684px #fff,
    983px 1434px #fff,
    1531px 1474px #fff,
    1095px 1567px #fff,
    1920px 990px #fff,
    64px 1619px #fff,
    863px 1247px #fff,
    1618px 1797px #fff,
    914px 1281px #fff,
    617px 1875px #fff,
    2089px 1638px #fff,
    1804px 1621px #fff,
    2541px 642px #fff,
    943px 1283px #fff,
    1394px 1295px #fff,
    739px 1120px #fff,
    2523px 1975px #fff,
    1778px 1927px #fff,
    2400px 1438px #fff,
    1374px 238px #fff,
    332px 1118px #fff,
    332px 115px #fff,
    627px 926px #fff,
    123px 1709px #fff,
    1879px 290px #fff,
    1138px 117px #fff,
    1338px 848px #fff,
    1277px 1417px #fff,
    654px 519px #fff,
    2074px 116px #fff,
    2336px 1153px #fff,
    1742px 378px #fff,
    2343px 1988px #fff,
    2440px 474px #fff,
    1298px 1519px #fff,
    1793px 1677px #fff,
    2441px 1753px #fff,
    362px 1900px #fff,
    1578px 319px #fff,
    1078px 1331px #fff,
    605px 1851px #fff,
    1912px 1778px #fff,
    2205px 1177px #fff,
    1483px 206px #fff,
    1656px 1893px #fff,
    419px 664px #fff,
    1111px 30px #fff,
    2307px 1693px #fff,
    2159px 1443px #fff,
    1269px 1229px #fff,
    2051px 1558px #fff,
    2174px 1562px #fff,
    1272px 1586px #fff,
    1415px 1298px #fff,
    1596px 758px #fff,
    1810px 1413px #fff,
    644px 1801px #fff,
    72px 427px #fff,
    1780px 791px #fff,
    1288px 1520px #fff,
    755px 732px #fff,
    22px 1748px #fff,
    1392px 1273px #fff,
    2499px 1633px #fff,
    384px 827px #fff,
    1693px 1202px #fff,
    946px 870px #fff,
    1332px 634px #fff,
    1293px 806px #fff,
    617px 1244px #fff,
    2534px 817px #fff,
    2505px 324px #fff,
    2218px 155px #fff,
    2183px 966px #fff,
    1888px 816px #fff,
    2082px 661px #fff,
    245px 497px #fff,
    2271px 1416px #fff,
    1490px 615px #fff,
    2510px 1701px #fff,
    5px 1444px #fff,
    2234px 1271px #fff,
    1807px 1494px #fff,
    2314px 1698px #fff,
    806px 1779px #fff,
    391px 686px #fff,
    441px 1112px #fff,
    1867px 1530px #fff,
    567px 743px #fff,
    337px 1304px #fff,
    884px 1715px #fff,
    9px 1780px #fff,
    1027px 225px #fff,
    791px 1177px #fff,
    1488px 365px #fff,
    1066px 8px #fff,
    404px 750px #fff,
    939px 481px #fff,
    2009px 602px #fff,
    1658px 811px #fff,
    1991px 333px #fff,
    1877px 604px #fff,
    372px 1216px #fff,
    1926px 1541px #fff,
    1206px 1935px #fff,
    2140px 866px #fff,
    1068px 1892px #fff,
    902px 1338px #fff,
    1038px 865px #fff,
    619px 1105px #fff,
    1860px 543px #fff,
    1326px 1037px #fff,
    446px 1903px #fff,
    1283px 1404px #fff,
    521px 387px #fff,
    2006px 1694px #fff,
    858px 233px #fff,
    504px 1058px #fff,
    2049px 1849px #fff,
    1976px 1329px #fff,
    1850px 682px #fff,
    1879px 641px #fff,
    1628px 1308px #fff,
    88px 1830px #fff,
    1753px 1769px #fff,
    1684px 150px #fff,
    1173px 1123px #fff,
    381px 1425px #fff,
    655px 923px #fff,
    1777px 1816px #fff,
    2121px 1654px #fff,
    315px 1594px #fff,
    815px 686px #fff,
    1539px 393px #fff,
    276px 249px #fff,
    2542px 1065px #fff,
    939px 546px #fff,
    360px 1203px #fff,
    1910px 222px #fff,
    84px 1024px #fff,
    687px 1845px #fff,
    204px 1138px #fff,
    1845px 1293px #fff,
    1943px 868px #fff,
    2361px 808px #fff,
    2525px 1497px #fff,
    1246px 382px #fff,
    2233px 854px #fff,
    2464px 890px #fff,
    973px 1511px #fff,
    1514px 924px #fff,
    1925px 507px #fff,
    2521px 548px #fff,
    1886px 1295px #fff,
    1136px 43px #fff,
    871px 1990px #fff,
    1072px 1112px #fff,
    1464px 1868px #fff,
    1599px 285px #fff,
    2466px 757px #fff,
    269px 1683px #fff,
    230px 491px #fff,
    968px 347px #fff;
}

#star-3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    660px 1165px #fff,
    1331px 1406px #fff,
    1780px 1225px #fff,
    1851px 1589px #fff,
    648px 1309px #fff,
    800px 1400px #fff,
    6px 954px #fff,
    1154px 1564px #fff,
    111px 113px #fff,
    1542px 106px #fff,
    726px 728px #fff,
    1749px 1039px #fff,
    183px 728px #fff,
    916px 865px #fff,
    730px 173px #fff,
    587px 763px #fff,
    98px 1726px #fff,
    494px 1804px #fff,
    1230px 510px #fff,
    1986px 781px #fff,
    1141px 1542px #fff,
    2508px 611px #fff,
    2234px 1784px #fff,
    1753px 1335px #fff,
    521px 1773px #fff,
    2094px 56px #fff,
    131px 1055px #fff,
    1167px 1575px #fff,
    1410px 676px #fff,
    2253px 550px #fff,
    220px 117px #fff,
    1718px 1329px #fff,
    2232px 1321px #fff,
    2357px 665px #fff,
    2099px 1452px #fff,
    2410px 439px #fff,
    1890px 1680px #fff,
    2441px 1103px #fff,
    276px 1782px #fff,
    249px 768px #fff,
    951px 692px #fff,
    1342px 1314px #fff,
    209px 1577px #fff,
    2286px 1876px #fff,
    737px 887px #fff,
    1370px 1977px #fff,
    1223px 695px #fff,
    100px 983px #fff,
    994px 1908px #fff,
    791px 145px #fff,
    541px 8px #fff,
    669px 974px #fff,
    171px 953px #fff,
    761px 1796px #fff,
    1325px 1856px #fff,
    550px 1048px #fff,
    2228px 1966px #fff,
    1231px 1621px #fff,
    149px 755px #fff,
    831px 274px #fff,
    828px 496px #fff,
    1453px 1667px #fff,
    1331px 704px #fff,
    215px 67px #fff,
    1254px 713px #fff,
    1847px 1289px #fff,
    727px 1878px #fff,
    589px 1318px #fff,
    58px 674px #fff,
    2296px 1417px #fff,
    1078px 683px #fff,
    1185px 1422px #fff,
    753px 164px #fff,
    6px 1711px #fff,
    204px 1457px #fff,
    2417px 1965px #fff,
    1566px 1356px #fff,
    842px 912px #fff,
    1642px 1190px #fff,
    1091px 916px #fff,
    965px 1793px #fff,
    1188px 1899px #fff,
    1004px 1600px #fff,
    2188px 1830px #fff,
    317px 945px #fff,
    973px 451px #fff,
    1091px 49px #fff,
    711px 841px #fff,
    2027px 846px #fff,
    768px 866px #fff,
    448px 107px #fff,
    2288px 769px #fff,
    1170px 1009px #fff,
    423px 1742px #fff,
    1301px 1616px #fff,
    2420px 1218px #fff,
    302px 9px #fff,
    1503px 1240px #fff,
    961px 1127px #fff,
    2102px 1455px #fff;
  animation: animStar 150s linear infinite;
}

#star-3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    660px 1165px #fff,
    1331px 1406px #fff,
    1780px 1225px #fff,
    1851px 1589px #fff,
    648px 1309px #fff,
    800px 1400px #fff,
    6px 954px #fff,
    1154px 1564px #fff,
    111px 113px #fff,
    1542px 106px #fff,
    726px 728px #fff,
    1749px 1039px #fff,
    183px 728px #fff,
    916px 865px #fff,
    730px 173px #fff,
    587px 763px #fff,
    98px 1726px #fff,
    494px 1804px #fff,
    1230px 510px #fff,
    1986px 781px #fff,
    1141px 1542px #fff,
    2508px 611px #fff,
    2234px 1784px #fff,
    1753px 1335px #fff,
    521px 1773px #fff,
    2094px 56px #fff,
    131px 1055px #fff,
    1167px 1575px #fff,
    1410px 676px #fff,
    2253px 550px #fff,
    220px 117px #fff,
    1718px 1329px #fff,
    2232px 1321px #fff,
    2357px 665px #fff,
    2099px 1452px #fff,
    2410px 439px #fff,
    1890px 1680px #fff,
    2441px 1103px #fff,
    276px 1782px #fff,
    249px 768px #fff,
    951px 692px #fff,
    1342px 1314px #fff,
    209px 1577px #fff,
    2286px 1876px #fff,
    737px 887px #fff,
    1370px 1977px #fff,
    1223px 695px #fff,
    100px 983px #fff,
    994px 1908px #fff,
    791px 145px #fff,
    541px 8px #fff,
    669px 974px #fff,
    171px 953px #fff,
    761px 1796px #fff,
    1325px 1856px #fff,
    550px 1048px #fff,
    2228px 1966px #fff,
    1231px 1621px #fff,
    149px 755px #fff,
    831px 274px #fff,
    828px 496px #fff,
    1453px 1667px #fff,
    1331px 704px #fff,
    215px 67px #fff,
    1254px 713px #fff,
    1847px 1289px #fff,
    727px 1878px #fff,
    589px 1318px #fff,
    58px 674px #fff,
    2296px 1417px #fff,
    1078px 683px #fff,
    1185px 1422px #fff,
    753px 164px #fff,
    6px 1711px #fff,
    204px 1457px #fff,
    2417px 1965px #fff,
    1566px 1356px #fff,
    842px 912px #fff,
    1642px 1190px #fff,
    1091px 916px #fff,
    965px 1793px #fff,
    1188px 1899px #fff,
    1004px 1600px #fff,
    2188px 1830px #fff,
    317px 945px #fff,
    973px 451px #fff,
    1091px 49px #fff,
    711px 841px #fff,
    2027px 846px #fff,
    768px 866px #fff,
    448px 107px #fff,
    2288px 769px #fff,
    1170px 1009px #fff,
    423px 1742px #fff,
    1301px 1616px #fff,
    2420px 1218px #fff,
    302px 9px #fff,
    1503px 1240px #fff,
    961px 1127px #fff,
    2102px 1455px #fff;
}

@keyframes animStar {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  5% {
    transform: translateY(-100px);
    opacity: 1;
  }

  95% {
    transform: translateY(-1900px);
    opacity: 1;
  }

  100% {
    transform: translateY(-2000px);
    opacity: 0;
  }
}
