.page-content {
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
}

.three-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
